@import "../../index.scss";

.info{
    @include themify($themes){
        display: flex;
        align-items: center;
        justify-content: space-around;
        width: 90%;
        margin: 1rem auto;

        @include mobile{
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            gap: 0;
            margin-top: 0;
            margin-bottom: 1rem;
        }

        @include tablet{
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-evenly;
        }
        
        .item{
            margin: 1rem;
            width: 22%;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-wrap: wrap;
            box-shadow: -2px -2px 10px #c3c3c3,
                        1px 1px 2px #fdfdfd;
            border-radius: .3rem;
            background-color: themed("bg");
            padding: 1rem;
            gap: 1rem;
            height: auto;

            @include mobile{
                display: flex;
                flex-wrap: wrap;
            }

            @include tablet{
                display: flex;
                flex-wrap: wrap;
                width: 25%;

            }

            .icons{
                color: themed("logo");
                gap: 1rem;

                @include mobile{
                    font-size: 2rem;
                    gap: .6rem;
                }

                @include tablet{
                    font-size: rem;
                }

                .icon{
                    font-size: 4rem;

                    @include mobile{
                        font-size: 2rem;
                    }

                    @include tablet{
                        font-size: 3rem;
                    }
                }
            }

            

            .item__info{
                
                h2{
                    font-size: 2.4rem;
                    color: themed("textColor");
                    font-weight: 700;
                    letter-spacing: 2px;

                    @include mobile{
                        font-size: 1rem;
                    }
                }
                span{
                    font-size: 1rem;
                    color: themed("textColorSoft");
                    letter-spacing: 1px;
                    font-weight: 600;

                    @include mobile{
                        font-size: .7rem;
                    }
                }


            }
        }
    }
}