.experience__container{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 100%;
}

.experience__container > div{
    width: 40%;
    gap: 5%;
    background-color: var(--color-bg-variant);
    padding: 2.4rem 5rem;
    border-radius: 1rem;
    border-radius: 1px solid transparent;
    transition:  var(--transition);
}
.experience__container > div:hover{
    background: transparent;
    border: 1px solid var(--color-primary-variant);
    cursor: pointer;
} 

.experience__container > div h3{
    text-align: center;
    margin-bottom: 2rem;
    color: var(--color-primary);
    font-size: 1.5rem;
}

.experience__content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 2rem;
}

.experience__details{
    display: flex;
    gap: 1rem;
}

.experience__details-icon{
    color: var(--color-primary);
    margin-top: 6px;
}

/* =================== MEDIA QUERIES (MEDIUM DEVICES) ===============*/

@media screen and (max-width: 1024px){
    .experience__container{
        flex-direction: column;
        width: 100%;
    }

    .experience__container > div{
        width: 90%;
        padding: 2rem;
    }
    
    .experience__container > div:nth-child(2){
        margin-top: 2rem;
    }
}


/* =================== MEDIA QUERIES (SMALL DEVICES) ===============*/

@media screen and (max-width: 600px){
    .experience__container{
        gap: 1rem;
    }
}